.banner__container {
    margin: 40px 10px 0 10px;
}

.banner {
    width: 170px;
    height: 140px;
    border: solid gray 1px;
    background-color: #F1F1F1;
}

.banner__header {
    text-align: center;
}

.banner__header>h3 {
    color: teal;
    margin-top: 5px;
}

.banner__body {
    padding-left: 0.2rem;
    color: gray;
    font-weight: bold;
}

.banner__body > p {
    font-size: 15px;
    margin-bottom: 5px;
}

.banner__footer {
    padding-right: 0.2rem;
    margin-top: 15px;
    text-align: right;
    font-size: 85%;
}